/* здесь подключите шрифты */
@include font-face("PT Sans Narrow", 400, normal, url("../fonts/pt-sans-narrow.woff2") format("woff2"));
@include font-face("PT Sans Narrow", 700, normal, url("../fonts/pt-sans-narrow-bold.woff2") format("woff2"));
