/* здесь используйте глобальные переменные */
$primary-font: "Lato-Regular", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$background-color-primary: #ffffff;
$background-color-secondary: #eaeaea;
$background-color-tertiary: #68b738;
$background-color-tertiary-hover: #5eaa2f;
$text-color-primary: #000000;
$text-color-secondary: #ffffff;
$text-color-tertiary: #444444;

$tablet-width: 768px;
$desktop-width: 1440px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$bg-color-button-secondary: #f2f2f2;
$bg-border-color-value: #cdcdcd;
$separator-color:#d9d9d9;
$bg-color-control: #666666;
$bg-border-color-section: #e6e6e6;
