/* здесь используйте глобальные переменные */
$primary-font: "Lato-Regular", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

// background
$background-color-primary: #ffffff;
$background-color-secondary: #eaeaea;
$background-color-tertiary: rgba(104, 183, 56, 0.85);

/* font */
// font weight
$font-weight-normal: 400;
$font-weight-bold: 700;

/* text */
// text color
$text-color-primary: #000000;
$text-color-secondary: #ffffff;
$text-color-tertiary: #444444;
