.about {
  padding: 0 20px 48px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 6px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.about__title {
  font: inherit;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.about__item {
  display: flex;
  margin-left: 0;
  color: $text-color-tertiary;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  position: relative;
  counter-increment: counter 1;

  &::before {
    content: "";
    background-color: $background-color-tertiary;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 30px 32px;
    min-width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 20px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    min-height: 280px;
    flex-direction: column;
    gap: 31px;
    align-items: flex-start;

    &::after {
      color: #f2f2f2;
      content: counter(counter);
      z-index: -1;
      font-family: $secondary-font;
      font-size: 280px;
      font-weight: 400;
      line-height: 280px;
      position: absolute;
      bottom: 0;
      left: 113px;
      top: -40px;
    }
  }
}

.about_item-break {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.about__item--leaf {
  &::before {
    background-image: url("../../icons/stack.svg#leaf");
  }
  &::after {
    left: 118px;
  }
}

.about__item--water {
  &::before {
    background-image: url("../../icons/stack.svg#water");
  }
}

.about__item--clock {
  &::before {
    background-image: url("../../icons/stack.svg#clock");
  }
}

.about__item--food {
  &::before {
    background-image: url("../../icons/stack.svg#food");
  }
}

.about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    align-items: stretch;
    gap: 139px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.about__description {
  margin: 1px 0;
}
