.about__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
}

.about__item {
  font-size: 14px;
  line-height: 18px;
  color: $text-color-tertiary;

  &::before {
    content: "";
    display: inline-block;
    background-color: $background-color-tertiary;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 30px 32px;
    width: 60px;
    height: 60px;
  }
}

.about__item--leaf {
  &::before {
    background-image: url("../../icons/stack.svg#leaf");
  }
}

.about__item--water {
  &::before {
    background-image: url("../../icons/stack.svg#water");
  }
}

.about__item--clock {
  &::before {
    background-image: url("../../icons/stack.svg#clock");
  }
}

.about__item--food {
  &::before {
    background-image: url("../../icons/stack.svg#food");
  }
}
