.additional-products__title {
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
  }
}
