.additional-products__title {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 76px;
    height: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
    height: 35px;
  }
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    gap: 81px;
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
  }
}
