.copyright__link {
  color: $text-color-tertiary;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 168px;
  }

  &::after {
    content: "";
    background-color: #666666;
    width: 27px;
    height: 34px;
    display: block;
    mask-position: 50%;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-image: url("../../icons/stack.svg#html-academy");
  }

  &:hover {
    &::after {
      background-color: $background-color-tertiary;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
