.form__input {
  font-family: $secondary-font;
  color: $text-color-tertiary;
  outline: solid 1px #e7e7e7;
  border: none;

  &:hover {
    outline-color: #cdcdcd;
  }

  &:focus {
    outline: solid 2px #444444;
  }
}
