.hero {
  font-family: $secondary-font;
  background-color: $background-color-tertiary;
  font-weight: $font-weight-normal;
  color: $text-color-secondary;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 302px;
    background-image: linear-gradient(to right, $background-color-tertiary, rgba($background-color-tertiary, 0.75)), image-set("../images/hero-bg-mobile@1x.jpg" 1x type("image/jpeg"), "../images/hero-bg-mobile@2x.jpg" 2x type("image/jpeg")), linear-gradient(to bottom left, #3f3e43, #525157);
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    color: $text-color-primary;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: block;
      background-position: 100%;
      right: 0;
      width: 50%;
      height: 100%;
      background-image: linear-gradient(to right, $background-color-tertiary, rgba($background-color-tertiary, 0.75)), image-set("../images/hero-bg-desktop@1x.jpg" 1x type("image/jpeg"), "../images/hero-bg-desktop@2x.jpg" 2x type("image/jpeg")), linear-gradient(to bottom left, #3f3e43, #525157);
    }
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
}

.hero__description {
  font-size: 14px;
  line-height: 14px;
}

.hero__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
