.item-more__title {
  color: #111111;
  font-family: $secondary-font;
  line-height: 20px;
  font-size: 16px;
}

.item-more__description {
  line-height: 16px;
  font-size: 12px;
  color: $text-color-tertiary;
}
