.item-more {
  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-bottom: 24px;
    background-image: url("../../icons/stack.svg#plus");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      width: 60px;
      height: 60px;
    }
  }
}

.item-more__title {
  color: #111111;
  font-family: $secondary-font;
  line-height: 20px;
  font-size: 16px;
}

.item-more__description {
  line-height: 16px;
  font-size: 12px;
  color: $text-color-tertiary;
}
