.main-nav {
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-family: $secondary-font;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  background-color: $background-color-primary;
  width: 100%;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    position: static;
    width: unset;
    margin-left: auto;
    margin-top: 39px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav--no-js {
  display: flex;
  position: static;
}

.main-nav--no-js .main-nav__list {
  display: flex;
}
