.main-footer__invitation {
  font-family: $secondary-font;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
}

.main-footer__address {
  color: $text-color-tertiary;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
