.main-header {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    position: absolute;
    right: 0;
    left: 0;
    background: transparent;
    z-index: 1;
  }
}

.main-header__wrapper {
  margin: 0 auto;
  width: 280px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: $background-color-primary;
  padding: 13px 20px 7px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: unset;
    justify-content: flex-start;
    padding: 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px;
  }
}

.main-header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68%;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo {
  text-transform: none;
}

.main-header__logo-text-wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14px;
    height: 21px;
    width: 118px;
  }
}

.main-header__toggle {
  cursor: pointer;
  background-image: url("../../icons/stack.svg#menu-show");
  border: none;
  background-color: unset;
  height: 24px;
  width: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--close {
  background-image: url("../../icons/stack.svg#menu-hide");
}

.main-header__toggle--no-js {
  opacity: 0;
  pointer-events: none;
}
