.order-gift {
  height: 290px;
  margin-top: 35px;
  background-image: linear-gradient(rgba($background-color-tertiary, 0.85), rgba($background-color-tertiary, 0.85)), image-set("../images/gift-bg-mobile@1x.jpg" 1x type("image/jpeg"), "../images/gift-bg-mobile@2x.jpg" 2x type("image/jpeg"));
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    height: 200px;
    flex-direction: row;
    text-align: left;
    background-image: linear-gradient(rgba($background-color-tertiary, 0.85), rgba($background-color-tertiary, 0.85)), image-set("../images/gift-bg-tablet@1x.jpg" 1x type("image/jpeg"), "../images/gift-bg-tablet@2x.jpg" 2x type("image/jpeg"));
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    text-align: center;
    margin-top: 0;
    height: 288px;
    width: 245px;
    background-image: linear-gradient(rgba($background-color-tertiary, 0.85), rgba($background-color-tertiary, 0.85)), image-set("../images/gift-bg-desktop@1x.jpg" 1x type("image/jpeg"), "../images/gift-bg-desktop@2x.jpg" 2x type("image/jpeg"));
  }

  &::before {
    content: "";
    background-image: url("../../icons/stack.svg#gift");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 78px;
    height: 80px;
    display: block;
    margin-top: 59px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 82px;
      margin-bottom: auto;
      margin-left: 80px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 56px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.order-gift__description {
  width: 161px;
  margin-top: auto;
  margin-bottom: 43px;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-secondary;

  @media (min-width: $tablet-width) {
    margin-bottom: auto;
    margin-left: 264px;
  }

  @media (min-width: $desktop-width) {
    margin: 6px 41px auto auto;
  }
}
