.order-gift {
  background-color: $background-color-tertiary;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-secondary;
  background-image: linear-gradient(rgba($background-color-tertiary, 0.85), rgba($background-color-tertiary, 0.85)), image-set("../images/gift-bg-mobile@1x.jpg" 1x type("image/jpeg"), "../images/gift-bg-mobile@2x.jpg" 2x type("image/jpeg"));
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(rgba($background-color-tertiary, 0.85), rgba($background-color-tertiary, 0.85)), image-set("../images/gift-bg-tablet@1x.jpg" 1x type("image/jpeg"), "../images/gift-bg-tablet@2x.jpg" 2x type("image/jpeg"));
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(rgba($background-color-tertiary, 0.85), rgba($background-color-tertiary, 0.85)), image-set("../images/gift-bg-desktop@1x.jpg" 1x type("image/jpeg"), "../images/gift-bg-desktop@2x.jpg" 2x type("image/jpeg"));
  }

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#gift");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 82px;
    }
  }
}
