.section-title {
  font: inherit;
  min-width: 100%;
  height: 24px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: #68b738;
    height: 2px;
    width: 100%;
    top: 50%;
    z-index: -1;
  }
}

.section-title__wrapper {
  margin: 0 auto;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.section-title__title {
  background-color: $background-color-primary;
  font-family: $secondary-font;
  line-height: 24px;
  font-size: 24px;
  padding: 0 40px 0 20px;
  margin: 0 auto;
  display: inline-block;

  @media (min-width: $tablet-width) {
    padding: 0 20px 0 40px;
    line-height: 32px;
    font-size: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    line-height: 40px;
    font-size: 40px;
  }
}
