.site-list {
  background-color: $background-color-primary;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $text-color-primary;
  font-family: $secondary-font;
  display: none;
  column-gap: 33px;
  flex-direction: column;
  width: 100%;
  z-index: 2;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    display: flex;
    height: 32px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    height: 38px;
  }
}

.site-list--open {
  display: flex;
}

.site-list__item {
  font-size: 20px;
  line-height: 20px;
  border-top: 1px solid #e6e6e6;
  width: 100%;
  text-align: center;

  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: unset;
    padding: unset;
    border: unset;
    width: auto;

    &:last-child {
      border: unset;
    }
  }
}

.site-list__item--active {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $background-color-tertiary;
  }
}

.site-list--white {
  @media (min-width: $desktop-width) {
    color: $text-color-secondary;
  }
}

.site-list--white .site-list__item--active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $background-color-primary;
  }
}

.site-list__link {
  display: block;
  width: auto;
  margin: 0;
  padding: 22px 0 24px;
  color: inherit;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: inline;
    padding: 0;
  }
}
