.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $text-color-primary;
  font-family: $secondary-font;
  column-gap: 33px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 73px;
  z-index: 2;
  background-color: $background-color-primary;

  @media (min-width: $tablet-width) {
    position: static;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 13px;
    background-color: unset;
  }
}

.site-list__item {
  position: relative;
}

.site-list--index {
  @media (min-width: $desktop-width) {
    color: $text-color-secondary;
  }
}


.site-list__item--active {
  transition: opacity ease-in-out 0.3s;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      background-color: $background-color-tertiary;
      width: auto;
      height: 2px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
    }
  }
}

.site-list--index .site-list__item--active {
  @media (min-width: $desktop-width) {
    &::after {
      background-color: $background-color-primary;
    }
  }
}

.site-list__link {
  font-size: 20px;
  line-height: 20px;

  position: relative;
  border-top: 1px solid $bg-border-color-section;
  display: block;
  text-align: center;
  text-transform: uppercase;
  transition: opacity ease-in-out 0.3s;
  cursor: pointer;
  padding: 23px;
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 0;
    margin: 0 10px;
    border-top: none;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
