.social {
  background-color: $background-color-secondary;
}

.social__wrapper {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 68px;
    gap: 120px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    padding: 47px 0;
  }
}

.social__item {
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid #d9d9d9;
  width: 280px;
  display: flex;
  justify-content: center;
  color: inherit;
  text-decoration: none;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    border-bottom: none;
    margin: 0;
    width: auto;
  }
}

.social__logo-text-wrapper {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding-right: 38px;
  }
}

.social__list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  gap: 24px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.social__link {
  &::before {
    content: "";
    background-color: #666666;
    width: 28px;
    height: 22px;
    display: block;
    mask-position: 50%;
    mask-size: contain;
    mask-repeat: no-repeat;
    color: inherit;
  }

  &:hover::before {
    background-color: $background-color-tertiary;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.social__link--vk::before {
  mask-image: url("../../icons/stack.svg#vk");
}

.social__link--youtube::before {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__link--telegram::before {
  mask-image: url("../../icons/stack.svg#telegram");
}
